<!DOCTYPE html>
<html lang="en" ng-app="tracartaApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tracarta</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/bootstrap-material.min.css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css" href="assets/css/lib/font-awesome/css/font-awesome.css" />
    <link href="assets/css/plugins/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css">
    <!-- Fontfamily -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- Date picker -->
    <!-- <link rel="stylesheet" href="{{cms_css_url('plugins/daterangepicker/daterangepicker.css" type="text/css"/> -->
    <link rel="stylesheet" type="text/css" href="assets/css/plugins/angular-datepicker.min.css" />
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- default css -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="{{admin_js_url('lib/html5shiv.min.js" type="text/javascript"></script>
		<script src="{{admin_js_url('lib/respond.min.js" type="text/javascript"></script>
	<![endif]-->
    <script type="text/javascript">
        var BASE_URL = 'http://tracarta.local.com';
    </script>
    <!--<base href="http://localhost/tracarta_web/">-->
</head>

<body ng-controller="mainController">
    <header class="top-section">
        
        <nav class="navbar navbar-expand-lg navbar-default">
            <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" width="170" alt="TraCarta">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-end" id="myNavbar">
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Offers </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle count-info" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item cart-items">
                        <a class="nav-link" href="#"><img src="assets/images/cart.svg" width="26" alt="TraCarta">
                            <span class="label label-warning">16</span> </a>
                    </li>
                </ul>
            </div></div>
        </nav>
    </header>
    <div ui-view></div>
    <footer class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="row" style="width:100%">
                    <div class="col-sm-4 col-md-4">
                        <div class="footer-logo">
                            <img src="assets/images/footer-logo.png" alt="Tracarta">
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="footer-links">
                            <ul>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">FQA</a>
                                </li>
                                <li>
                                    <a href="#">Carrers</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Term of Service</a>
                                </li>
                                <li>
                                    <a href="#">Security</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="subscribe-items">
                            <p>Get all the latest information and Offers. Sign up for newsletter today.</p>
                            <form action="index.html" method="post" class="subscribe-form">
                                <label>Enter your e-mail address</label>
                                <input type="email" name="email" class="subscribe-input"
                                    placeholder="Email address">
                                <button type="submit" class="subscribe-submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="col-sm-8 col-md-6">&copy; 2018 Tracarta. All rights reserved.</div>
                <div class="col-sm-4 col-md-6 text-right">
                    <img src="assets/images/facebook.png" alt="Tracarta">
                    <img src="assets/images/twitter.png" alt="Tracarta">
                    <img src="assets/images/linkdinn.png" alt="Tracarta">
                </div>
            </div>
        </div>
    </footer>
    <!-- default JS -->
    <script type="text/javascript" src="assets/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/lib/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/lib/bootstrap.material.js"></script>
    <script type="text/javascript" src="assets/js/lib/angular-1.6.9.min.js"></script>
    <script type="text/javascript" src="assets/js/lib/angular-validator.min.js"></script>
    <script type="text/javascript" src="assets/js/lib/angular-ui-router.js"></script>
    <script type="text/javascript" src="assets/js/lib/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="assets/js/lib/angular-base64.min.js"></script>
    <!-- Datepicker -->
    <!-- <script src="assets/js/plugins/daterangepicker/moment.min.js"></script> -->
    <!-- <script src="{{cms_js_url('plugins/daterangepicker/daterangepicker.js"></script>
<script src="{{cms_js_url('plugins/daterangepicker/angular-daterangepicker.min.js"></script> -->


    <script type="text/javascript" src="assets/js/plugins/angular-datepicker.min.js"></script>


    <!-- <script type="text/javascript" src="assets/js/plugins/datepicker/datetime-picker.min.js"></script> -->
    <script type="text/javascript" src="assets/js/plugins/datepicker/ui-bootstrap-tpls.js"></script>


    <script type="text/javascript" src="assets/js/app.js"></script>
    <script type="text/javascript" src="assets/js/helper.js"></script>
    <script type="text/javascript" src="assets/js/services.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script type="text/javascript" src="assets/js/controllers/homeController.js"></script>
    <script type="text/javascript" src="assets/js/controllers/searchController.js"></script>
    <!-- default JS -->
</body>

</html>