@charset "utf-8";
/* CSS Document */

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* YOUR STYLE GOES HERE */
}
/* iPad in landscape----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.benifit .carousel-caption h3{font-size:30px;}
.benifit .carousel-caption{top:20px;}
.subscribe-form .subscribe-input{width:194px;}
.date-range{width:40%;}
.location-items{width:20%;}
}

/* iPad in portrait----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait){
.search-flight{top:5px;}
.location-items{width:50%;padding-bottom:15px;}
.passengers-class{width:50%;}
.date-range{width:47.5%;}
.date-selector{width:45%;}
.benifit .carousel-caption h3{font-size:24px;}
.benifit .carousel-caption h3{padding:10px 0px;}
.benifit .carousel-caption{right:5px; top: 5px; width:50%;}
.benifit .carousel-caption ul li{padding: 0 0 0 20px;font-size: 15px;}
.border-corporate{padding:30px 10px;}
.footer-logo{padding:0px 0px 20px 0px;}
.subscribe-items{width:100%;float:left;}
.subscribe-form .subscribe-input{width:100%;float:left;}
.subscribe-submit{margin:5px 0px 0px 0px;width:100%;}
}
@media all and (max-width: 700px) {
.slider {min-height: 380px;}
.search-flight h1{font-size:20px;}
.search-flight p{font-size:12px;}
.search-flight p small{font-size:15px;}
.search-flight{top:10px;left: 2%;width:96%;}
.search-fligh-items {background: rgba(255, 255, 255, 0.9);padding:5px 10px 10px 10px;}
.radio label::before{border-color:#000000;}
.radio label{color:#333333;font-size:14px;}
.location-items{width:100%;padding:0px 0px 5px 0px;}
.date-range{width:100%;padding:0px 0px 0px 0px;}
.date-range::after{display:none;}
.passengers-class{width:100%;padding:0px;}
.passengers-items{border:solid 1px #cccccc;}
.date-range input{width:100%;margin-bottom:5px;border:solid 1px #cccccc; height:42px; padding:5px 40px 5px 5px;}
.date-range input:last-child{ padding:5px 40px 5px 5px;}
.date-range .date-selector {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
	position:relative;
}
.date-selector:last-child{padding:0px;border:none;}
.date-range .date-selector::after{
    color: #9e9e9e;
    font-family: FontAwesome;
    position: absolute;
    right: 20px;
    top: 10px;
    content:'\f073';
}
.date-picker-wrapper{z-index:2;}
.location-items input.form-control{border:solid 1px #cccccc;}
.dropdown-menu.filterOptins{width:100%;left:0px;}
.location-items::after{right:20px;}
.pax-counter-container{border-right:none;width:100%;border-bottom:1px solid #dedede;padding-right:0px;padding-bottom:15px;}
.filter-class-container{padding:20px 0px 0px 0px;width:100%;}
.filter-class-container li{margin-bottom:5px;width:100%;}
.premium-club-membership h2{line-height:26px;}
.premium-club-membership .btn-primary{width:100%;margin-top: 15px;}
.border-corporate{ padding: 30px 0;}
.border-corporate .btn-primary{width:100%;margin-top: 15px;}
.footer-logo {padding: 0 0 30px;}
.footer-top{padding:20px 0px;}
.subscribe-items{width:100%;float:left;}

}

/* All Smartphones in portrait and landscape ----------- */
@media all and (max-width: 640px) {
	
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.subscribe-form .subscribe-input{width:100%;}
.subscribe-submit{width:100%;margin-top:15px;}
.col-md-6.text-right{text-align:center;}
}
@media all and (max-width: 480px) {

}
@media all and (max-width: 320px) {

}