body{background:#fff;font-family:'Lato',sans-serif;overflow-x: hidden}
div[ui-view]{min-height:calc(100vh - 400px)}
a,a:hover,a:focus{color:inherit;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out;text-decoration:none}
a{text-decoration:none}
a:focus{outline:none}
.btn{text-transform: capitalize}
.btn.active.focus,.btn.active:focus,.btn.focus,.btn.focus:active,.btn:active:focus,.btn:focus{outline:none;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.top-serach-items .custom-control-label, .top-section .navbar-default .navbar-nav > li.cart-items span.label, .search-flight p, .search-flight h1, .paxCounter ul li.selected, .paxFilter li.flight-type-active, .premium-club-membership .btn-primary:hover, .benifit h3 span, .border-corporate h2, .border-corporate p, .border-corporate .btn-primary:active:hover .border-corporate .btn-primary.focus:active, .subscribe-submit, .book-now-btn{color:#fff}
.search-flight h1, .search-flight p, .top-section .navbar-default .navbar-nav > li > a, .paxCounter ul li, .why-us h2,.why-us h3,.benifit ul li, .border-corporate h2, .trip-details ul li small, .trip-details ul li span, .flight-insights h2, .flight-insights p{font-weight:300}
label.control-label.has-error.validationMessage i, .passengers-items .dropdown-toggle:after{display:none}
::-moz-selection {color:#fff;background:#51bbec;}
::selection {color:#fff;background:#51bbec;} 
::-webkit-selection {color:#fff;background:#51bbec;} 
/*=-=-=-=-=-=-=-=-=-=-=-=-=- Rupees Font Family =-=-=-=-=-=-=-=-
@font-face {font-family: 'RupeeForadian';src: url('fonts/RupeeForadian.woff') format('woff'),url('fonts/RupeeForadian.ttf') format('truetype'),url('fonts/RupeeForadian.svg#RupeeForadian') format('svg');font-weight: normal;font-style: normal}
@font-face {font-family: 'Rupee_Foradian';src: url('fonts/Rupee_Foradian.eot');src:url('fonts/Rupee_Foradian.woff2') format('woff2'),url('fonts/Rupee_Foradian.eot?#iefix') format('embedded-opentype');font-weight: normal;font-style: normal}
/*=-=-=-=-=-=-=-=-=-=-=-=-=- Rupees Font Family =-=-=-=-=-=-=-=-*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=- Top Section =-=-=-=-=-=-=-=-*/
.wrapper{width:100%}
.top-section{background:rgba(255,255,255,0.95);width:100%;transition:all .3s ease-in-out}
.top-section .navbar-brand{padding:5px}
.top-section .navbar-default{border:none;border-radius:none;margin:0;-webkit-transition:all .3s cubic-bezier(0.4,0,0,1);transition:all .3s cubic-bezier(0.4,0,0,1);padding:5px 0;margin:0;background:transparent;z-index: 9;box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);}
.top-section.shrink{-webkit-transform:translateY(-5px);transform:translateY(-5px);left:0;position:fixed;right:0;z-index:99}
.slider img{width:100%}
.slider .carousel-control-next-icon, .slider .carousel-control-prev-icon{background-image:none;font-size:2rem}
.top-section .navbar-default .navbar-nav > li > a{color:#6f6e6e;font-size:17px;text-transform:capitalize}
.fa.arrow:before{content:"\f107"}
.top-section .navbar-default .navbar-nav > li.cart-items{position:relative}
.top-section .navbar-default .navbar-nav > li.cart-items svg{width:26px;height:26px}
.top-section .navbar-default .navbar-nav > li.cart-items .cls-1{color:#6f6e6e;fill-rule:evenodd;filter:none;opacity:.6}
.count-info::before{border-left:1px solid #c7c6c6;content:"";height:20px;left:0;margin:0;position:absolute;top:13px}
.top-section .navbar-default .navbar-nav > li.cart-items span.label{border-radius:50%;font-size:9px;height:18px;line-height:18px;padding:0;position:absolute;right:5px;top:0;width:18px;text-align:center}
/*=-=-=-=-=-=-=-=-=-=-=-=-=- Top Section =-=-=-=-=-=-=-=-*/

/*=-=-=-=-=-=-=-=-=-=-=-=-=- Slider Section =-=-=-=-=-=-=-=-*/
.search-flight{left:50%;position:absolute;top:50%;width:80%;z-index:2;transform:translate(-50%,-50%)}

.search-flight h1{font-size:50px;text-align:center}
.search-flight h1 span{font-weight:400}
.search-flight p{font-size:25px;text-align:center;font-weight:bold;text-transform:uppercase}
.search-flight p small{color:#36beff;font-size:35px;font-style:italic;font-weight:600}
.search-fligh-items{padding:20px;background:rgba(255,255,255,0.42)}
/*=-=-=-=-=-=-=-=-=-=-=-=-=- 
    Header Search section 
=-=-=-=-=-=-=-=-*/
.custom-control-label:after,.custom-control-label:before{top:3px}
.defaultForm input.form-control{font-size:15px;color:#6f6e6e;background-color:#fff;padding:10px 2px 10px 10px;height:38px}
.dropdown-toggle{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.search-fligh-items .btn-primary{padding:8px 20px 9px}
.passengers-class{float:left;padding-left:15px;width:20%}
.date-picker-wrapper{z-index:2}
.passengers-items{background:#fff;padding:0;color:#6f6e6e}
.passengers-items .dropdown-toggle{padding:7px 10px;height:38px;overflow:hidden}
.pax-counter-container{padding-right:30px;border-right:1px solid #dedede}
.dropdown-menu.filterOptins{background:#fff none repeat scroll 0 0;-webkit-box-shadow:0 0 16px 10px rgba(0,0,0,0.19);-moz-box-shadow:0 0 16px 10px rgba(0,0,0,0.19);box-shadow:0 0 16px 10px rgba(0,0,0,0.19);color:#3f3f3f;border-radius:0;border:medium none;left:-237px;width:430px;padding:0}
.paxFilter{margin-top:0;padding:15px;position:relative;text-align:left;display:inline-block;width:100%}
.autocomplete_from::before,.autocomplete_to::before,.classFilters::before,.dateFilter::before,.dateFilterReturn::before,.multiCityDate1::before,.multiCityDate2::before,.multiCityDate3::before,.multiCityDate4::before,.paxFilter::before,.reasonFilter::before{border-color:transparent transparent #fff;border-style:solid;border-width:12px;content:"";display:inline-block;height:0;position:absolute;top:-24px;width:0}
.paxFilter::before{left:6%}
.paxCounter ul{float:left;list-style:none;margin:0;width:100%;padding:0 0 15px}
.paxCounter ul li.selected{border-radius:3px}
.paxCounter ul li{box-sizing:border-box;color:#666;cursor:pointer;float:left;font-size:14px;line-height:1;padding:3px 5px;line-height:15px;text-align:center;width:20px}
.paxCounter ul li:hover{background:#E0DCEC}
.filter-class-container{box-sizing:content-box;padding-left:24px;padding-top:10px;width:145px;float:left}
.filter-class-container ul{margin:0;padding:0}
.filter-class-container li{border:1px solid #dedede;border-radius:3px;color:#4a4a4a;cursor:pointer;display:inline-block;font-size:14px;letter-spacing:.3px;margin:0 0 13px;padding:8px 0;position:relative;text-align:center;width:143px}
.filter-class-container li:hover{background:#E0DCEC}
.paxFilter li.flight-type-active{border:1px solid #1F9CD6}
.paxCounter p{color:#0D2F3E;font-size:13px;margin:0 0 5px;text-align:left}
.paxCounter p span{color:#858585;font-weight:400;margin-left:5px;text-transform:capitalize}

/*=-=-=-=-=-=-=-=-=-=-=-=-=- Premium Club Membership =-=-=-=-=-=-=-=-*/
.premium-club-membership{padding:50px 0;width:100%}
.premium-club-membership h2{padding:0;font-weight:700;line-height:66px;font-size:25px;margin:0}
.premium-club-membership h2::after{content:"";display:inline-block;height:2px;margin:0 0 0 10px;vertical-align:middle;width:50px}
.premium-club-membership .btn-primary{-webkit-box-shadow:4px 7px 8px -1px #ccc;-moz-box-shadow:4px 7px 8px -1px #ccc;box-shadow:4px 7px 8px -1px #ccc;border-color:#fff;font-size:20px;font-weight:400;padding:10px 35px}
.premium-club-membership .btn-primary:hover{background-color:#0D2F3F;border-color:#0D2F3F}
/*=-=-=-=-=-=-=-=-=-=-=-=-=- Premium Club Membership =-=-=-=-=-=-=-=-*/

/*=-=-=-=-=-=-=-=-=-=-=-=-=- Why us =-=-=-=-=-=-=-=-*/
.why-us{background:#f9f9f9;padding:50px 0}
.why-us-content{width:100%;display:block;padding-top:100px}
.why-us h2{padding:0;font-size:25px;display:block;width:100%;text-align:center;position:relative;margin:0}
.why-us h2::after{background:#000;content:"";height:1px;margin:40px 0 0 -92px;position:absolute;vertical-align:middle;width:100px}
.why-us h2::before{border:2px solid #fff;border-radius:50px;content:"";height:15px;margin:33px 0 0 36px;position:absolute;width:15px;z-index:1}
.why-us h3{padding:10px 0 20px;font-size:25px;display:block;width:100%;text-align:left;position:relative;text-transform:uppercase;margin:0}
.why-us ul{width:100%;padding:0;margin:0}
.why-us ul li{color:#929292;width:100%;list-style:none;position:relative;padding:15px 0 15px 36px}
.why-us ul li:before{content:'\f124';font-family:FontAwesome;left:0;position:absolute}
.expand, .expand a, .footer-links ul li a:hover, .top-section .navbar-default .navbar-nav > li > a:hover, .flight-insights p a:hover, .flight-items-text .btn-modal{color:#1f9cd6}
.expand .angle-set{border:1px solid #1f9cd6;border-radius:50px;display:inline-block;height:24px;text-align:center;vertical-align:top;width:24px}
/*=-=-=-=-=-=-=-=-=-=-=-=-=- Why us =-=-=-=-=-=-=-=-*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=- Benifit Slider =-=-=-=-=-=-=-=-*/
.benifit{display:block;width:100%}
.benifit .carousel-caption{bottom:auto;left:auto;padding-bottom:30px;right:15%;text-align:left;text-shadow:none;top:100px;width:38%}
.benifit .carousel-caption h3{padding:10px 0 20px;font-weight:700;font-size:40px;color:#2d2d2d;display:block;width:100%;text-align:left;position:relative;text-transform:uppercase;margin:0}
.benifit h3 span{padding:0 10px}
.benifit ul{width:100%;padding:0;margin:0}
.benifit ul li{color:#304d68;font-size:20px;width:100%;list-style:none;position:relative;padding:5px 0 5px 36px}
.benifit ul li:before{content:'\f124';font-family:FontAwesome;left:0;position:absolute}
/*=-=-=-=-=-=-=-=-=-=-=-=-=- Benifit Slider =-=-=-=-=-=-=-=-*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=- corporate services =-=-=-=-=-=-=-=-*/
.corporate-services{width:100%;background:url(../images/corporateservices.jpg) no-repeat scroll center 0;background-size:cover;padding:15px 0;position:relative;z-index:0}
.border-corporate{border:solid 1px #96cbe5;padding:30px 80px}
.border-corporate h2{font-size:25px;margin:0;padding:0;text-transform:uppercase}
.border-corporate h2 span{font-weight:700}
.border-corporate p{font-size:15px}
.border-corporate .my-btn.btn-primary{background-color:#0d2f3e;border:1px solid #fff;font-size: 20px;font-weight: 400;padding: 10px 35px;color: #fff;}
.border-corporate .my-btn.btn-primary:hover{background-color:#0d2f3e}
.border-corporate .btn-primary:active:hover .border-corporate .btn-primary.focus:active{background-color:#0a80b8;border-color:#0a80b8}
/*=-=-=-=-=-=-=-=-=-=-=-=-=- Corporate Services =-=-=-=-=-=-=-=-*/

/*=-=-=-=-=-=-=-=-=-=-=-=-=- Footer section =-=-=-=-=-=-=-=-*/
.footer-top{border-bottom:solid 1px #d7d7d7;padding:50px 0;width:100%;display:block}
.footer-bottom{display:inline-block;padding:15px 0;line-height:26px;width:100%}
.footer-links ul{margin:0;padding:0;float:left;width:50%}
.footer-links ul li{width:100%;padding:0 0 15px;list-style:none;font-size:14px;float:left}
.footer-links ul li, .footer-links ul li a, .filters .btn, .flight-insights p, .trip-details ul li.traveller-info small:after, .subscribe-items p{color:#6f6e6e;}
.subscribe-items p{font-size:14px}
.subscribe-form label{color:#1f9cd5;font-size:15px;font-weight:400;margin-bottom:15px;display:block}
.subscribe-form .subscribe-input{border:1px solid #ccc;display:inline-block;height:40px;margin:0;padding:0 15px;vertical-align:middle}
.subscribe-submit{border:medium none;display:inline-block;height:40px;margin:0 0 0 -3px;padding:0 15px;vertical-align:middle}
.subscribe-submit:hover{background:#244250}
.footer-logo{padding:30px 0 0}
/*=-=-=-=-=-=-=-=-=-=-=-=-=- Footer section =-=-=-=-=-=-=-=-*/
.footer{border-top:solid 1px #cccccc}

/*=-=-=-=-=-=-=-=-=-=-=-=-=- Inner-Page Search Result =-=-=-=-=-=-=-=-*/
.top-serach-items, .top-section .navbar-default .navbar-nav > li.cart-items span.label, .paxCounter ul li.selected, .subscribe-submit, .premium-club-membership h2::after, .why-us h2::before, .benifit h3 span, .paxFilter li.flight-type-active, .premium-club-membership .btn-primary, .book-now-btn{background:#1f9cd6}
.top-serach-items .search-flight{margin:0 auto;position:relative;top:inherit;left:inherit;transform:none}
.top-serach-items .search-fligh-items{background:none;padding-top:30px;padding-bottom:30px}
.flight-details{height: 60px;border-bottom: solid 1px #dfdfdf;position: sticky;top: 56px;background: #fff;box-shadow: 0 0 2px rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.24);z-index:1;}
.flight-show-content{border-left:solid 1px #dfdfdf;border-right:solid 1px #dfdfdf;justify-content:space-between}
.trip-top{padding:10px 15px;color:#0274b3;font-size:20px}
.trip-details ul{margin:0;padding:0;list-style:none}
.trip-details li{color:#8f8f8f;padding:8px 0;font-size:15px;text-align: center;}
.trip-details li small{color:#232323;font-size:20px;width:70%;line-height:15px;display:inline-block;vertical-align:middle}
.trip-details li span{color:#9a9a9a;font-size:15px;width:70%;line-height:15px;display:inline-block;vertical-align:middle}
.trip-details li .flights{float:left}
.trip-details li.trip-summary{border-left:solid 1px #dfdfdf;padding:19px 15px}
li.traveller-info small{color:#000;font-size:13px}
li.traveller-info small:after{content:'\f178';font-family:FontAwesome;font-size:14px;margin:0 0 0 5px}
.traveller-info small:before{background: #6a6a6a;content: "";float: left;height: 2px;margin: 8px 5px 0 0;width: 20px}
.trip-details li.traveller-info span{font-size:13px}
.flight-insights{padding:15px 0 35px}
.filters{vertical-align:middle;text-align:right}
.filters .btn{border:solid 1px #dfdfdf;border-radius:0;background:#fff;font-weight:400;text-transform:capitalize;letter-spacing:.2px}
ul.dropdown-menu li a{display:block}
.filters .dropup,.filters .dropdown{display:inline-block;position:relative}
.flight-insights h2{margin-bottom:10px;margin-top:20px;font-size:20px;color:#222}
.flight-insights p{margin-bottom:10px;margin-top:0;font-size:16px}
.flight-insights p a{text-decoration:underline}
.flight-chart{width:100%;padding-bottom:15px;float:left}
.flight-chart img{width:100%}
.flight-listing{/* width:100%;display:inline-block;padding:0;vertical-align:middle; */-webkit-box-shadow:0 -1px 6px 0 rgba(50,50,50,0.26);-moz-box-shadow:0 -1px 6px 0 rgba(50,50,50,0.26);box-shadow:0 -1px 6px 0 rgba(50,50,50,0.26)}
.flight-listing-items,.flightsdata{border:solid 1px #dfdfdf;padding:15px;}
.whitebg{background:#fbfbfb}
.flight-listing> .active, .flightsdata.active{background:#e9f6fc}
.flight-items-text .fligh-time .price-flight, .flight-items-text .sellers .btn,.price-flight{display:inline-block;padding-top:12px}
.book-now-btn{border-color:#1f9cd6;border-radius:0;font-size:15px;padding:5px 15px}

/*=-=-=-=-=-=-=-=-=-=-=-=-=- 25 April =-=-=-=-=-=-=-=-*/
.radio-select{margin:0 0 20px}
.defaultForm .input-group-append span, .input-group-append .btn.btn-link, .flight-items-text span{color:#777777}
.defaultForm .input-group-append span{background:#fff;text-align:center;padding:0 .2rem;}
.input-group-append .btn.btn-link{background:#fff;margin:0;border-right:1px solid #e8e8e8;border-radius:0;line-height: 1;pointer-events: none}
label.control-label.has-error.validationMessage{position:absolute;bottom:-18px;color:red;margin:0;font-size:.8rem}
.carousel-indicators{z-index:2}
._720kb-datepicker-calendar{transition:all .2s linear;transform:translateY(100px);opacity:0;top:38px;box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)}
._720kb-datepicker-calendar._720kb-datepicker-forced-to-open,._720kb-datepicker-calendar._720kb-datepicker-open{transform:translateY(0px);opacity:1}
.blur{filter:blur(5px)}
.flight-items-text span a,.flight-items-text small,.flight-items-text span,.flight-items-text .btn-modal, .defaultForm .input-group-append span, .custom-tabs.nav-tabs li.active a, .custom-tabs.nav-tabs li a, .countries li{font-size:15px}
span.price-flight,.flight-items-text small, .flight-items-text .fligh-time .price-flight, .custom-tabs.nav-tabs li a{color:#232323}
.flight-items-text .btn-modal{text-transform:capitalize;background:transparent}
.flight-items-text .btn-modal:focus,.flight-items-text .btn-modal:hover{background:transparent;color:#3F51B5}
.input-group i.la {font-size:20px}
.custom-tabs li.nav-item .active {color: #1f9cd6;border-bottom-color: #1f9cd6 !important}
.custom-tabs li.nav-item .nav-link {padding: 10px 15px;border-radius: 0;background: transparent;border-bottom: 2px solid transparent;margin-bottom: -1px}
.facility ul li.active {opacity: 1;}
.facility ul li {list-style: none;padding: 5px 0;opacity: 0.42;}
.modal-header button.close {position: absolute;right: 0;top: 0;margin: 0;padding: 10px 15px;}
.modal-header .modal-title{font-size:20px;line-height:1.4}
.modal-content .modal-header, .modal-content .modal-body{border-bottom: 1px solid #e5e5e5;}
.modal-content .modal-header{padding: 10px 24px;background: #f5f5f5;}
.tab-pane small b{font-weight:700}
.tab-pane small{font-size:20px;font-weight:300}
.facility ul li span, .table td, .table th,.fareprice {font-size: 14px}
.modal-content .modal-body{max-height:500px;overflow-y:auto;overflow-x:hidden}
.model-top.media{padding:15px;border-bottom:solid 1px #dfdfdf}
.table thead th{font-weight:700;color:#464748;}
.md-width{width:60%}
span.badge.refund{font-size: 18px;font-weight: 400;padding: 5px 10px;border-radius: 3px;}
.table td, .table th {padding: .3rem}
@media (min-width: 992px){
    .modal-lg {max-width:900px}
}
ul.adult_counter li:first-child{display:none}
.fareprice .row .col-sm-2:last-child{border-right:0!important}
.fareprice{padding:0 15px}
.flight-items-text span.refund{color:#4caf50}
.flight-items-text span.norefund{color:#ff5722}
.durationperiod{position:relative}
.durationperiod:before{left:0!important;right:0;margin:0 auto}
.durationperiod:after,.durationperiod span:before,.durationperiod span:after,.durationperiod:before{content:'';position:absolute;background:#9e9e9e}
.durationperiod:after{width:72%;height:1px;top:10px;left:0;margin:0 auto;right:0}
.durationperiod span:before,.durationperiod span:after,.durationperiod:before{width:5px;height:5px;top:8px;left:27px;border-radius:50%}
.durationperiod span:after{left:inherit;right:27px}
.flightin span{padding:1px 7px 2px;border-right:1px solid #afabab;font-size:13px;letter-spacing:.2px}
.flightin span:last-child{border-right:0}
.mt-6{margin-top:6rem!important}
._720kb-datepicker-calendar-day._720kb-datepicker-active{background:#1f9cd6;color:#fff}
.form-control:disabled,.form-control[disabled],.form-control[disabled] ~ span,.form-control[disabled] ~ span button{background-blend-mode:overlay;background-color:#e4e4e4!important;pointer-events:none}
.col-sm-6.searchResult:nth-child(odd){padding-right:5px}
.col-sm-6.searchResult:nth-child(even){padding-left:5px}
.selectedTrip{background:#373737;position:sticky;right:0;left:0;bottom:0;z-index:999;color:#eee}
.flightsdata small,.flightsdata span{font-size:13px;line-height:1.3}
.countries li{padding:5px 10px;border-bottom:1px solid #eee;cursor:pointer;line-height:1.3}
.countries{max-height:160px;overflow-y:auto;width:300px;overflow-x:hidden}
.countries ul{list-style:none}
.countries small{letter-spacing:.2px}
.flightsdata{box-shadow:0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)}
.border-dark{border-color:#737373!important;background:#f5f5f5}
.flight-listing-items .close{font-size: 3rem;font-weight: 300;opacity: .7}
.flight-listing-items .close:hover, .resetcount:hover .close{opacity:1}
.resetcount button.close{float: none;margin:3px 0 0;font-size: 15px}
.resetcount:hover{background:transparent!important}