<div>
    <section class="slider">
        <div id="carousel2" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel2" data-slide-to="0" class=""></li>
                <li data-target="#carousel2" data-slide-to="1" class="active"></li>
            </ol>

            <div class="search-flight">
                <h1>
                    <span> Where </span>do you
                    <span>want to go?</span>
                </h1>
                <p>Search Your
                    <small> Destination</small>
                </p>
                <div class="search-fligh-items">
                    <div class="radio-select">
                        <div class="custom-control custom-radio d-inline pr-3" ng-repeat="(key, val) in journeyType">
                            <input type="radio" ng-checked="{{$first?true:false}}" ng-disabled="key == 2" ng-model="formData.journeyTypeVal" value="{{key+1}}" id="type_{{key}}" tabindex="1"
                                name="jType" class="custom-control-input">
                            <label class="custom-control-label" for="type_{{key}}"> {{val}} </label>
                        </div>
                    </div>
                    <form name="searchFlightForm" novalidate angular-validator="angular-validator" method="post" class="search-flight-location" autocomplete="off">
                        <div class="form-row defaultForm">
                            <div class=" col-sm-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-focus="showDropdown.origin=true"  ng-change="searchAirport()" ng-model="formData.origin"
                                        placeholder="From Location" name="origin" required tabindex="2">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="la la-map-marker" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="dropdown-menu p-0 countries" ng-if="airportList != null" ng-class="{'show':airportList && showDropdown.origin}">
                                        <ul class="p-0 m-0">
                                            <li ng-repeat="(key, val) in airportList.origin" ng-click="selectAirport(val)" class="form-row flex-nowrap p-1">
                                                <div class="airport col-sm-9 px-2">
                                                    <span class="d-block">{{val.city}} ({{val.iata_code}})</span>
                                                    <small class="text-secondary"> {{val.name}} </small>
                                                </div>
                                                <div class="cntry col-sm-3 pr-2 pl-0 text-right">
                                                    <small>{{val.country}}</small>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-focus="showDropdown.destination=true" ng-change="searchAirport(true)" ng-model="formData.destination" tabindex="3"
                                        placeholder="To Location" name="destination" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="la la-map-marker" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="dropdown-menu p-0 countries" ng-if="airportList != null" ng-class="{'show':airportList && showDropdown.destination}">
                                        <ul class="p-0 m-0">
                                            <li ng-repeat="(key, val) in airportList.destination" ng-click="selectAirport(val,true)" class="form-row flex-nowrap p-1">
                                                <div class="airport col-sm-9 px-2">
                                                    <span class="d-block">{{val.city}} ({{val.iata_code}})</span>
                                                    <small class="text-secondary"> {{val.name}} </small>
                                                </div>
                                                <div class="cntry col-sm-3 pr-2 pl-0 text-right">
                                                    <small>{{val.country}}</small>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 date-range row">
                                <div class="col pr-0">
                                    <datepicker date-min-limit="{{minDate}}" date-month-title="Departure Date" date-format="yyyy-MM-dd" class="input-group">
                                        <input placeholder="Departure" ng-model='formData.startDate' datetime-picker="MM/dd/yyyy" class="form-control date-picker"
                                            type="text" is-open="isOpen_depart" ng-click="openCalendar($event, 'depart')" when-closed="closeCalendar($event,'depart')"
                                            datepicker-options="datepickerOptions_depart" name="departure" required tabindex="4" />
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-link px-2" ng-click="openCalendar($event, 'depart')">
                                                <i class="la la-calendar"></i>
                                            </button>
                                        </span>
                                    </datepicker>
                                </div>
                                <div class="col pl-0">
                                        
                                    <datepicker date-format="yyyy-MM-dd" date-min-limit="{{formData.startDate}}" date-set="{{formData.startDate | date: 'MM-dd-yyyy'}}" class="input-group">
                                        <input placeholder="Return" ng-model='formData.endDate' datetime-picker="MM/dd/yyyy" class="form-control date-picker" type="text" name="return" is-open="isOpen_return" ng-click="openCalendar($event,'return')" tabindex="4" 
                                        when-closed="closeCalendar($event,'return')" datepicker-options="datepickerOptions_return" 
                                        ng-disabled="formData.journeyTypeVal == '1'" ng-required="formData.journeyTypeVal == '2' || formData.journeyTypeVal == '3'"  />
                                        <span class="input-group-append">
                                            <button type="button" class="btn btn-link px-2 border-right-0" ng-click="openCalendar($event,'return')">
                                                <i class="la la-calendar"></i>
                                            </button>
                                        </span>
                                    </datepicker>
                                </div>
                            </div>
                            <div class=" col-sm-2">
                                <div class="dropdown passengers-items">
                                    <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" tabindex="5">{{noOfPassengers}}, {{flightCabin[flightCabinSel]}} 
                                        <span class="float-right">
                                            <i class="la la-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </div>                                    
                                    <ul class="dropdown-menu filterOptins" aria-labelledby="dropdownMenu1">
                                        <div class="paxFilter">
                                            <div class="pull-left pax-counter-container">
                                                <div class="paxCounter">
                                                    <p>ADULTS
                                                        <span>(+12 yrs)</span>
                                                    </p>
                                                    <ul class="adult_counter">
                                                        <li ng-repeat="val in travellers.adults" ng-click="selectTravellers($event,$index, 'adults',val)" ng-class="{selected: val == totalPassangers.adult }">{{val}}</li>
                                                        
                                                    </ul>
                                                </div>
                                                <div class="paxCounter">
                                                    <p>CHILDREN
                                                        <span>2-12 yrs</span>
                                                    </p>
                                                    <ul class="adult_counter">
                                                        <li ng-repeat="val in travellers.children" ng-click="selectTravellers($event,$index, 'children',val)" ng-class="{selected: val == totalPassangers.children }">{{val}}</li>
                                                        <li ng-if="totalPassangers.children" class="p-0 resetcount"> <button type="button" ng-click="resetCount($event,totalPassangers,'children')" class="close ">X</button></li>
                                                    </ul>
                                                </div>
                                                <div class="paxCounter">
                                                    <p class="">INFANTS
                                                        <span>0-2 yrs</span>
                                                    </p>
                                                    <ul class="adult_counter">
                                                        <li ng-repeat="val in travellers.infants" ng-click="selectTravellers($event,$index, 'infants',val)" ng-class="{selected: val == totalPassangers.infants }">{{val}}</li>
                                                        <li ng-if="totalPassangers.infants" class="p-0 resetcount"> <button type="button" ng-click="resetCount($event,totalPassangers,'infants')" class="close ">X</button></li>
                                                    </ul>
                                                    
                                                </div>
                                            </div>
                                            <div class="filter-class-container">
                                                <ul>
                                                    <li ng-class="{'flight-type-active': $index == flightCabinSel}" ng-repeat="val in flightCabin" ng-click="selectFlightCabin($index)">{{val}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-raised btn-primary m-0" type="submit" ng-click="searchFlights(searchFlightForm)" tabindex="6">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="assets/images/slider1.jpg" alt="Tracarta">
                </div>
                <div class="carousel-item active">
                    <img src="assets/images/slider2.jpg" alt="Tracarta">
                </div>
            </div>

            <a class="carousel-control-prev" href="#carousel2" data-slide="prev">
                <span class="carousel-control-prev-icon la la-angle-left"></span>
            </a>

            <a class="carousel-control-next" href="#carousel2" data-slide="next">
                <span class="carousel-control-next-icon la la-angle-right"></span>
            </a>
        </div>
    </section>
    <section class="premium-club-membership">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <h2>Premium Club Membership</h2>
                </div>
                <div class="col-sm-4 col-md-4">
                    <a class="btn btn-sm btn-primary pull-right my-btn" href="">Know More</a>
                </div>
            </div>
        </div>
    </section>
    <section class="why-us">
        <div class="container">
            <div class="row">
                <h2>Why Us</h2>
                <div class="col-md-6">
                    <div class="why-us-content">
                        <img src="assets/images/marketplace.png" alt="Marketplace">
                        <h3>Marketplace</h3>
                        <ul>
                            <li>Power and beauty of technology to empower travel service providers expand their reach to over
                                200 million connected Indians</li>
                            <li>A Do-it-yourself ("DIY") Travel Marketplace solution for re-defining the entire distribution
                                channel.
                            </li>
                        </ul>
                        <div class="pull-right expand">
                            <a href="#">click to expand
                                <span class="angle-set">
                                    <i class="la la-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="why-us-content">
                        <img src="assets/images/technology.png" alt="Marketplace">
                        <h3>Technology Backed Platform</h3>
                        <ul>
                            <li>Data rich, seamless platform inclusive of Central Management System ("CMS") for uploading content,
                                inventory and price for ease of transaction.</li>
                            <li>First of its kind platform for comparative search options and smoother interface with ambit of
                                features such as graphic filter, TripChart and TravCart.</li>
                        </ul>
                        <div class="pull-right expand">
                            <a href="#">click to expand
                                <span class="angle-set">
                                    <i class="la la-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="why-us-content">
                        <img src="assets/images/equitable.png" alt="Marketplace">
                        <h3>Equitable Opportunity</h3>
                        <ul>
                            <li>Fair play opportunity for Travel Services Vendor and provide a level playing ground to offer
                                best of the product inventory and prices</li>
                            <li>Accessorised selection of air travel services with the advanced FlightX Engine giving option
                                of selecting meals to name a few.</li>
                        </ul>
                        <div class="pull-right expand">
                            <a href="#">click to expand
                                <span class="angle-set">
                                    <i class="la la-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="why-us-content">
                        <img src="assets/images/enriching.png" alt="Marketplace">
                        <h3>Technology Backed Platform</h3>
                        <ul>
                            <li>Travel Cart and Loyalty programme coupled with host of features including real time customer
                                support to provide enriching shopping experience.</li>
                            <li>Accessorised selection of air travel services with the advanced FlightX Engine giving option
                                of selecting meals to name a few.</li>
                        </ul>
                        <div class="pull-right expand">
                            <a href="#">click to expand
                                <span class="angle-set">
                                    <i class="la la-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="benifit">
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="assets/images/slider-bottom.jpg" alt="Marketplace">
                    <div class="carousel-caption">
                        <h3>Feature Rich
                            <span>Benefits</span>
                            <br/> for Vendors</h3>
                        <ul>
                            <li>Direct access to customers</li>
                            <li>Equal opportunity</li>
                            <li>Platform for ease of business</li>
                            <li>Ease of fulfilment of transactions</li>
                            <li>Seamless flow of payment and settlement</li>
                            <li>Competitive and analytics based landscape </li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item active">
                    <img src="assets/images/slider-bottom.jpg" alt="Marketplace">
                    <div class="carousel-caption">
                        <h3>Feature Rich
                            <span>Benefits</span>
                            <br/> for Vendors</h3>
                        <ul>
                            <li>Direct access to customers</li>
                            <li>Equal opportunity</li>
                            <li>Platform for ease of business</li>
                            <li>Ease of fulfilment of transactions</li>
                            <li>Seamless flow of payment and settlement</li>
                            <li>Competitive and analytics based landscape </li>
                        </ul>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/images/slider-bottom.jpg" alt="Marketplace">
                    <div class="carousel-caption">
                        <h3>Feature Rich
                            <span>Benefits</span>
                            <br/> for Vendors</h3>
                        <ul>
                            <li>Direct access to customers</li>
                            <li>Equal opportunity</li>
                            <li>Platform for ease of business</li>
                            <li>Ease of fulfilment of transactions</li>
                            <li>Seamless flow of payment and settlement</li>
                            <li>Competitive and analytics based landscape </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </section>
    <section class="corporate-services">
        <div class="container">
            <div class="row border-corporate">
                <div class="col-md-8">
                    <h2>For Corporate
                        <span>Services</span>
                    </h2>
                    <p>Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio</p>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-sm btn-primary pull-right btn-raised my-btn">Know More</a>
                </div>
            </div>
        </div>
    </section>
</div>